<div *ngIf="currentShop" class="edit-form">
    <h4>Shop</h4>
    <form>
      <div class="form-group">
        <label for="name">Title</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="currentShop.name"
          name="name"
        />
      </div>
      <div class="form-group">
        <label for="id">Id</label>
        <input
          type="text"
          class="form-control"
          id="id"
          [(ngModel)]="currentShop.id"
          name="id"
        />
      </div>
  
      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentShop.published ? "Published" : "Pending" }}
      </div>
    </form>
  
    <button
      class="badge badge-primary mr-2"
      *ngIf="currentShop.published"
      (click)="updatePublished(false)"
    >
      UnPublish
    </button>
    <button
      *ngIf="!currentShop.published"
      class="badge badge-primary mr-2"
      (click)="updatePublished(true)"
    >
      Publish
    </button>
  
    <button class="badge badge-danger mr-2" (click)="deleteShop()">
      Delete
    </button>
  
    <button type="submit" class="badge badge-success" (click)="updateShop()">
      Update
    </button>
    <p>{{ message }}</p>
  </div>
  
  <div *ngIf="!currentShop">
    <br />
    <p>Cannot access this Shop...</p>
  </div>
  